<StackLayout>
  
  <TabView selectedIndex="0">
    <StackLayout *tabItem="{title: 'Provider'}">
      <ScrollView orientation="vertical">
        <StackLayout>
          <TextField hint="Company Name" class="loginInpTxt" [(ngModel)]="userM.company"></TextField>
          <TextField hint="First Name" class="loginInpTxt" [(ngModel)]="userM.firsname"></TextField>
          <TextField hint="Last Name" class="loginInpTxt" [(ngModel)]="userM.lastname"></TextField>
          <TextField hint="Username" class="loginInpTxt" [(ngModel)]="userM.username"></TextField>
          <TextField hint="Email" class="loginInpTxt" [(ngModel)]="userM.email"></TextField>
          <TextField hint="Password" class="loginInpTxt" [(ngModel)]="userM.password"></TextField>
          <TextField hint="Confirm Password" class="loginInpTxt" [(ngModel)]="userM.confpass"></TextField>
          <TextField hint="Phone" class="loginInpTxt" [(ngModel)]="userM.phone"></TextField>
          <TextField hint="Address" class="loginInpTxt" [(ngModel)]="userM.address"></TextField>
          <DropDown #dd [items]="countryItems" [(ngModel)]="userM.country" 
          class="dropdown" row="0" colSpan="2" hint="Country:"></DropDown>
          <TextField hint="City" class="loginInpTxt" [(ngModel)]="userM.city"></TextField>
          <TextField hint="Apt/Suite #" class="loginInpTxt" [(ngModel)]="userM.apt"></TextField>
          <TextField hint="State" class="loginInpTxt" [(ngModel)]="userM.state"></TextField>
          <TextField hint="Postal Code" class="loginInpTxt" [(ngModel)]="userM.postal"></TextField>
          <DropDown #dd [items]="categoryItems" [(ngModel)]="userM.jobcategory" 
          class="dropdown" row="0" colSpan="2" hint="Category:"></DropDown>
          <!-- package dd -->
          <DropDown #dd [items]="packageItems" [(ngModel)]="userM.package" 
          class="dropdown" row="0" colSpan="2" hint="Package:"></DropDown>
          <Button text="Sign up" class="submit-button" (tap)="btnSignUp()"></Button>
        </StackLayout>
      </ScrollView>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Customer'}">
        <TextField hint="First Name" class="loginInpTxt" [(ngModel)]="userM.firstname"></TextField>
        <TextField hint="Last Name" class="loginInpTxt" [(ngModel)]="userM.lastname"></TextField>
        <TextField hint="Username" class="loginInpTxt" [(ngModel)]="userM.username"></TextField>
        <TextField hint="Email" class="loginInpTxt" [(ngModel)]="userM.email"></TextField>
        <TextField hint="Password" class="loginInpTxt" [(ngModel)]="userM.password"></TextField>
        <TextField hint="Confirm Password" class="loginInpTxt" [(ngModel)]="userM.confpass"></TextField>
        <Button text="Sign up" class="submit-button" (tap)="btnSignUp()"></Button>
    </StackLayout>
  </TabView>
  

    


</StackLayout> 