<StackLayout  class="pageRoot"  xmlns:dd="nativescript-drop-down">
    <Label text="My Jobs" class="headingTxt"></Label>
    <ListView [items]="resultList" [itemTemplateSelector]="templateSelector" 
    class="inlineStack" (itemTap)="onClickList($event)">
        <ng-template nsTemplateKey="cell" let-item="item">
            <StackLayout orientation="horizontal">
                <Image src="~/images/wanted.png" class="contactImg" stretch="fill"></Image>
                <StackLayout orientation="vertical">
                    <Label [text]="item.post_title" class="mediumSpacing contactNameStr" textWrap="true"></Label>
                    <Label [text]="item.varPostDate" class="mediumSpacing contactNameStrSmall" textWrap="true"></Label>
                    <Label [text]="item.varExpDate" class="mediumSpacing contactNameStrSmallRed" textWrap="true"></Label>
                    <Label [text]="item.varAppliedCount" class="mediumSpacing contactNameStrSmall" textWrap="true"></Label>
                </StackLayout>
        </StackLayout>
        </ng-template>
    </ListView>
        
    <ActivityIndicator left="100%" top="100%"
    row="1" #activityIndicator [busy]="isLoading"  width="50%" height="50%" 
    class="activity-indicator"></ActivityIndicator>
</StackLayout>