<StackLayout  class="pageRoot"  xmlns:dd="nativescript-drop-down">
    <Label text="RECEIVED QUOTES" class="headingTxt"></Label>
    <ListView [items]="resultList" [itemTemplateSelector]="templateSelector" 
    class="inlineStack" (itemTap)="onClickList($event)">
        <ng-template nsTemplateKey="cell" let-item="item">
            <StackLayout orientation="horizontal">
                <Image src="~/images/wanted.png" class="contactImg" stretch="fill"></Image>
                <StackLayout orientation="vertical">
                    <Label [text]="item.quoteName" class="mediumSpacing contactNameStr" textWrap="true"></Label>
                    <Label [text]="item.quoteDate" class="mediumSpacing contactNameStrSmall" textWrap="true"></Label>
                    <Label [text]="item.quoteEmail" class="mediumSpacing contactNameStrSmallRed" textWrap="true"></Label> 
                    <Label [text]="item.quoteDocName" class="mediumSpacing contactNameStrSmall" textWrap="true"></Label>
                    <Label [text]="item.quoteComments" class="mediumSpacing contactNameStrSmall" textWrap="true"></Label>
                </StackLayout>
        </StackLayout>
        </ng-template>
    </ListView>
    <Button text="Go Back" class="submit-button" (tap)="dummyClick()"></Button>

    <ActivityIndicator left="100%" top="100%"
    row="1" #activityIndicator [busy]="isLoading"  width="50%" height="50%" 
    class="activity-indicator"></ActivityIndicator>
</StackLayout>