<AbsoluteLayout height="100%" width="100%"
xmlns:dd="nativescript-drop-down">
  <ActivityIndicator left="100%" top="100%"  #activityIndicator [busy]="isLoading"  width="50%" height="50%" 
  class="activity-indicator"></ActivityIndicator>
  <ScrollView orientation="vertical" class="pageRoot"  left="1%" top="1%" width="97%" height="97%" xmlnsdd="nativescript-drop-down" >
    <StackLayout>
      <Button text="Go Back" class="submit-button" (tap)="dummyClick()"></Button>
      <Label [text]="postTitle" class="headingTxt"></Label>
      <Label text=""></Label>
      <GridLayout columns="auto,auto" rows="auto,auto">
          <Label text="Category" textWrap="true" row="0" col="0" class="strong"></Label>
          <Label [text]="listingDetails.userCatTxt" textWrap="true" row="0" col="1" class="gridRight"></Label>
      </GridLayout>
      <Label text=""></Label>
      <GridLayout columns="auto,auto" rows="auto,auto">
          <Label text="Job Description:" textWrap="true" row="0" col="0" class="strong"></Label>
          <Label [text]="listingDetails.post_content" textWrap="true" row="0" col="1" class="gridRight"></Label>
      </GridLayout>
      <Image [src]="listingDetails.image" class="jobImg" [height]="getImageHeight()" width="100%"></Image>
      <Label text="CONTACT INFORMATION" textWrap="true" class="strong"></Label>
      <GridLayout columns="auto,auto" rows="auto,auto,auto,auto">
        <Label text="First Name" textWrap="true" row="0" col="0" class="strong"></Label>
        <Label [text]="listingDetails.first_name" textWrap="true" row="0" col="1" class="gridRight"></Label>
        
        <Label text="Last Name" textWrap="true" row="1" col="0" class="strong"></Label>
        <Label [text]="listingDetails.last_name" textWrap="true" row="1" col="1" class="gridRight"></Label>
        
        <Label text="Email Address" textWrap="true" row="2" col="0" class="strong"></Label>
        <Label [text]="listingDetails.email_address" textWrap="true" row="2" col="1" class="gridRight"></Label>
        
        <Label text="Phone Number" textWrap="true" row="3" col="0" class="strong"></Label>
        <Label [text]="listingDetails.phone_number" textWrap="true" row="3" col="1" class="gridRight"></Label>
      </GridLayout>

      <Label text=""></Label>

      <StackLayout visibility = "{{listingDetails.job_category[0].term_id==102?'visible':'collapsed'}}">
        <Label [text]="listingDetails.business_name" class="mediumSpacing contactNameStr" textWrap="true"></Label>
        <Label [text]="listingDetails.business_type" class="mediumSpacing contactNameStr" textWrap="true"></Label>
        <Label [text]="listingDetails.current_insurer" class="mediumSpacing contactNameStr" textWrap="true"></Label>
      </StackLayout>
      <StackLayout visibility = "{{listingDetails.job_category[0].term_id==103?'visible':'collapsed'}}">
        <Label [text]="listingDetails.business_name" class="mediumSpacing contactNameStr" textWrap="true"></Label>
        <Label [text]="listingDetails.home_insurance_type" class="mediumSpacing contactNameStr" textWrap="true"></Label>
        <Label [text]="listingDetails.total_value_to_insure_bds" class="mediumSpacing contactNameStr" textWrap="true"></Label>
        <Label [text]="listingDetails.current_insurer" class="mediumSpacing contactNameStr" textWrap="true"></Label>
      </StackLayout>
      <StackLayout visibility = "{{listingDetails.job_category[0].term_id==9?'visible':'collapsed'}}">
        <Label [text]="listingDetails.vehicle_type" class="mediumSpacing contactNameStr" textWrap="true"></Label>
        <Label [text]="listingDetails.vehicle_value" class="mediumSpacing contactNameStr" textWrap="true"></Label>
        <Label [text]="listingDetails.engine_size" class="mediumSpacing contactNameStr" textWrap="true"></Label>
        <Label [text]="listingDetails.driver_experience" class="mediumSpacing contactNameStr" textWrap="true"></Label>
        <Label [text]="listingDetails.accidents_in_the_last_5_years" class="mediumSpacing contactNameStr" textWrap="true"></Label>
        <Label [text]="listingDetails.no_claims_discount" class="mediumSpacing contactNameStr" textWrap="true"></Label>
        <Label [text]="listingDetails.driver_age" class="mediumSpacing contactNameStr" textWrap="true"></Label>
        <Label [text]="listingDetails.current_insurer" class="mediumSpacing contactNameStr" textWrap="true"></Label>
      </StackLayout>

      <Button text="Select Quote File." (tap)="openFilePicker()"  [isEnabled]="!isLoading"></Button>
      <Label [text]="jobFile"></Label>
      <Label text="Comments" textWrap="true"></Label>
      <TextView  style="margin-top: 15px" borderColor="#DEDEDE" 
      borderWidth="1" height="300px" hint="Comments" [(ngModel)]="jobComments"></TextView>
      
      <Button text="Submit Quote" class="submit-button" (tap)="btnPostJob()"></Button>
      
    </StackLayout>
  </ScrollView>
</AbsoluteLayout>