.headingTxt{
    font-size: 30;
    font-weight:700;
    font-family:"Raleway";
    text-align: center;
}

.heading{
    font-size: 20;
    text-align: center;
}

.strong{
    font-weight: 600;
}

.gridRight{
    padding-left: 5;
}

.jobImg{
    height: 200;
    width: 100%;
}