/* @import url("~/platform.css"); */

Page {
    background-color: white;
    font-size: 15;
}

button {
    font-size: 18;
}

.sideMenu {
    background-color: white;
}

.sideStackLayout{
    background-color: white;
    font-size: 18;
}

.sideTitle {
    height: 70;
    text-align: center;
    vertical-align: center;
}

.sideLabel {
    margin: 10;
}

.sideLightGrayLabel {
    background-color: lightgray;
}

.dropdown{
    margin: 15px 10px 15px 10px;
    /* background-color:#E8E8E8; */
    font-size: 18;
    padding: 5;
    border-bottom-width: 2;
    border-bottom: #DEDEDE;
    text-align: left;
}

.formElement {
    font-size: 24;
    padding: 8;
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
}

.pageRoot {   
    margin-top: 10;
    margin-left: 10;
    margin-right: 10;
    height: inherit;
}

.submit-button {
    /* background-color: #77c04b; 
    color: white;*/
    margin-top: 20;
}

.white-button{
    background-color: #FFFFFF; 
}