<ActionBar title="Easy Quote">
    <NavigationButton icon="~/images/hamburger_icon.png"
     (tap)="toggleDrawer()"  *ifAndroid></NavigationButton>
    <ActionItem icon="~/images/hamburger_icon.png"
     ios.position="left" (tap)="toggleDrawer()" *ifIos></ActionItem>
</ActionBar>
<RadSideDrawer showOverNavigation="false">
    <StackLayout class="sideStackLayout" tkDrawerContent>
        <StackLayout class="sideTitle">
            <Button [text]="userName" class="white-button" (tap)="btnLogin()"></Button>
            <Label [text]="userType"></Label>
        </StackLayout>
        <StackLayout class="sideMenu">
            <Button text="Home" class="white-button" (tap)="btnHome()"
                visibility = "{{isCustomer?'visible' : 'collapsed'}}"></Button>
            <Button text="Submit Job" class="white-button" (tap)="btnSubmitQuote()" 
                visibility = "{{isCustomer?'visible' : 'collapsed'}}"></Button>
            <!-- <Label text="My Profile" class="sideLabel"
                visibility = "{{isLoggedIn?'visible' : 'collapsed'}}"></Label> -->
            <Button text="Job Alerts" class="white-button" (tap)="btnJobAlerts()"
                visibility = "{{isProvider?'visible' : 'collapsed'}}"></Button>
            <Button text="My Jobs" class="white-button" (tap)="btnMyJobs()" 
                visibility = "{{isCustomer?'visible' : 'collapsed'}}"></Button>
            <!-- <Label text="Contact Us" class="sideLabel"></Label> -->
            <Button text="Log Off" class="white-button" (tap)="logoff()" 
            visibility = "{{isLoggedIn?'visible' : 'collapsed'}}"></Button>
            <ActivityIndicator #activityIndicator [busy]="isLoading" class="activity-indicator"></ActivityIndicator>
        </StackLayout>
    </StackLayout>
    <StackLayout tkMainContent>
        <router-outlet></router-outlet>
        <ActivityIndicator #activityIndicator [busy]="isLoading" class="activity-indicator"></ActivityIndicator>
    </StackLayout>
</RadSideDrawer>

