.topImg{
    height: 200;
    width: 100%;
    opacity:0.7;
    background-color:#000000;
}

.inlineStack{
    margin-top:20px;
    height:auto;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.txtKeyword{
    padding: 50px;
    background-color:#E8E8E8;

}

.searchListItem{
    padding:20;
    text-align: center;

}

.locationIcon{
    font-family: 'fontisto';
    font-size: 18;
    margin-top:4;
    margin-right:12;
}

.phoneIcon{
    font-family: 'fontisto';
    font-size: 18;
    margin-top:9;
    margin-right:12;
}

.contactImg{
    width:100;
    height:100;
    border-radius:50%;
}

.contactDetails{
    margin-left: 30;
}

.mediumSpacing{
    padding:2;
}
.contactNameStr{
    font-size: 20;
    font-weight: bold;
    color: #767676;
}
.contactLocStr{
    font-size: 20;
    color: #999999;
    
}
.contFirstName{
    font-size: 20;
    color:#383838;
}
.headingTxt{
    font-size: 30;
    /* line-height: 30; */
    font-weight:700;
    font-family:"Raleway";
    text-align: center;
    color:white;
    padding-top: 50;
    /* flex-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word */
}
.headingTxt2{
    font-size: 14;
    line-height: 18;
    font-family:"Raleway";
    text-align: center;
    color:white;
    font-weight:400;
    padding-top: 100;
}
.large{
    font-size: 20;
    font-weight:700;
    padding-top: 5;
}