<StackLayout  class="pageRoot"
xmlns:dd="nativescript-drop-down">

    <StackLayout visibility = "{{isDetailed?'collapsed' : 'visible'}}">
        <ListView [items]="resultList" [itemTemplateSelector]="templateSelector" class="inlineStack">
            <ng-template nsTemplateKey="header" >

            <StackLayout  style="height:100%">
                <AbsoluteLayout style="text-align: center">
                    <Image src="http://cingotest.com/easy_quote_info/wp-content/uploads/2018/12/workingcollage.png" class="topImg" stretch="fill"
                        left=0 top=0></Image>
                    <StackLayout class="topImg" stretch="fill" left=0 top=0>
                        </StackLayout>
                    <Label text="WE FIND PROFESSIONALS FOR YOU" width="100%" class="headingTxt"
                        textWrap="true" left=0 top=0></Label>
                    <!-- <Label text="Help around the home is just a few clicks away" width="100%" class="headingTxt2" textWrap="true"></Label> -->

                    <ActivityIndicator #activityIndicator [busy]="isLoading"  
                    class="activity-indicator"></ActivityIndicator>
                </AbsoluteLayout>
                <TextField hint="Provider Name" [(ngModel)]="searchString" class="dropdown"></TextField>
                <DropDown #dd  [items]="categoryItems" [(ngModel)]="selectedCategory" visibility = "{{isInitialized?'visible':'collapsed'}}"
                    class="dropdown" row="0" colSpan="2"></DropDown>
                <DropDown #dd  [items]="countryItems" [(ngModel)]="selectedCountry" visibility = "{{isInitialized?'visible':'collapsed'}}"
                    class="dropdown" (selectedIndexChanged)="onchangeCountry($event)" row="0" colSpan="2"></DropDown>
                <DropDown #dd  [items]="cityItems" [(ngModel)]="selectedCity" visibility = "{{isInitialized?'visible':'collapsed'}}"
                    class="dropdown" row="0" colSpan="2"></DropDown>
                <Button text="Find Provider" class="submit-button" (tap)="btnFindProvider()"></Button>
                
            </StackLayout>
            </ng-template>

            <ng-template nsTemplateKey="cell" let-item="item">
                <StackLayout orientation="horizontal" (tap)="showDetail(item)">
                    <AbsoluteLayout>
                        <Image left="0" top="0"  [src]="item.guid?item.guid:'~/images/contacts-icon.png'" class="contactImg" stretch="fill"></Image>
                        <Image left="0" top="0" src="~/images/featured.png" class="contactImg" stretch="aspectFit" 
                            visibility = "{{item.feature_status?(item.feature_status=='active'?'visible':'collapsed'):'collapsed'}}"></Image>
                    </AbsoluteLayout>
                    <StackLayout orientation="vertical" class="contactDetails">
                        <Label [text]="item.full_name" class="mediumSpacing contactNameStr" textWrap="true"></Label>
                        <StackLayout orientation="horizontal">
                            <Label text="&#xeb14;" class="locationIcon mediumSpacing" ></Label>
                            <Label [text]="item.city+', '+item.country" class="mediumSpacing contactLocStr" textWrap="true"></Label>
                        </StackLayout>
                        <Label [text]="item.company_name" class="mediumSpacing contFirstName" textWrap="true"></Label>
                        <StackLayout orientation="horizontal">
                            <Label text="&#xeb1a;" class="phoneIcon mediumSpacing" ></Label>
                            <Label [text]="item.phone" class="mediumSpacing contactLocStr" textWrap="true"></Label>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </ng-template>

        </ListView>
        
    </StackLayout>
    
    <StackLayout visibility = "{{isDetailed?'visible' : 'collapsed'}}">
        <Button text="Go Back" class="submit-button" (tap)="dummyClick()"></Button>
        <AbsoluteLayout>
            <Image left="0" top="0"  [src]="selectedItem.guid?selectedItem.guid:'~/images/contacts-icon.png'"
             width="100%" height="30%" stretch="aspectFit"></Image>
            <Image left="0" top="0" src="~/images/featured.png" class="contactImg" stretch="aspectFit" 
                visibility = "{{selectedItem.feature_status?(selectedItem.feature_status=='active'?'visible':'collapsed'):'collapsed'}}"></Image>
        </AbsoluteLayout>
        <Label [text]="'NAME             : ' + selectedItem.full_name" class="large" textWrap="true"></Label>
        <Label [text]="'COMPANY      : ' + selectedItem.company_name" class="large" textWrap="true"></Label>
        <Label [text]="'CATEGORIES  : ' + getCategoryNames()" class="large" textWrap="true"></Label>
        <Label [text]="'Email ID        : ' + selectedItem.email" class="large" textWrap="true"></Label>
        <StackLayout orientation="horizontal">
            <Label [text]="'LOCATION      :'+selectedItem.address+', '+selectedItem.city+', '+selectedItem.country"
             class="large" textWrap="true"></Label>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Label [text]="'PHONE           :'+selectedItem.phone" class="large" textWrap="true"></Label>
        </StackLayout>
    </StackLayout>
</StackLayout> 