Label{
    /* padding: 0px 0px 4px 2px; */
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 6px;
    font-family: Poppins;
    font-size: 13px;
    color: #767676;
}

TextField{
    width: 100%;
}