<AbsoluteLayout height="100%" width="100%"
xmlns:dd="nativescript-drop-down">
<ActivityIndicator left="100%" top="100%"  #activityIndicator [busy]="isLoading"  width="50%" height="50%" 
class="activity-indicator"></ActivityIndicator>
<ScrollView orientation="vertical" left="1%" top="1%" width="97%" height="97%">
  <StackLayout>
    <Image class="logo" src="~/images/logo.png" width="200" height="50" stretch="aspectFit" horizontalAlignment="center"></Image>

    <Label text="TITLE" textWrap="true"></Label>
    <TextField hint="title" [(ngModel)]="jobTitle"></TextField>

    <Label text="Content" textWrap="true"></Label>
    <TextView  style="margin-top: 15px" borderColor="#DEDEDE" 
    borderWidth="1" height="300px" hint="Content" [(ngModel)]="jobContent"></TextView>

    <Label text="JOB CATEGORY *" textWrap="true"></Label>
    <DropDown #dd [items]="categoryItems" [(ngModel)]="jobCategory" 
    class="dropdown" row="-1" colSpan="2" hint="Select Category"></DropDown>

    <Button text="Attach File" (tap)="openFilePicker()"  [isEnabled]="!isLoading"></Button>
    <Label [text]="jobFile"></Label>

    <!-- business insurance -->
    <StackLayout visibility = "{{jobCategory == 4?'visible':'collapsed'}}">
        <Label text="BUSINESS NAME" textWrap="true"></Label>
        <TextField hint="BUSINESS NAME" [(ngModel)]="jobBusinessName"></TextField>

        <Label text="BUSINESS TYPE" textWrap="true"></Label>
        <DropDown #dd [items]="businessTypeItems" [(ngModel)]="jobBusinessType" 
        class="dropdown" row="-1" colSpan="2" hint="Select One"></DropDown>

        <Label text="CURRENT INSURER" textWrap="true"></Label>
        <DropDown #dd [items]="currentInsurerItems" [(ngModel)]="jobCurrentInsurer" 
        class="dropdown" row="-1" colSpan="2" hint="Select One"></DropDown>
    </StackLayout>
    
    <!-- home insurance -->
    <StackLayout visibility = "{{jobCategory == 22?'visible':'collapsed'}}">
        <Label text="HOME INSURANCE TYPE" textWrap="true"></Label>
        <DropDown #dd [items]="homeInsuranceTypeItems" [(ngModel)]="jobHomeInsuranceType" 
        class="dropdown" row="-1" colSpan="2" hint="Select One"></DropDown>

        <Label text="TOTAL VALUE TO INSURE (BDS)" textWrap="true"></Label>
        <TextField hint="TOTAL VALUE TO INSURE (BDS)" [(ngModel)]="jobTotalValueToInsure"></TextField>

        <Label text="CURRENT INSURER" textWrap="true"></Label>
        <DropDown #dd [items]="currentInsurerItems" [(ngModel)]="jobCurrentInsurer" 
        class="dropdown" row="-1" colSpan="2" hint="Select One"></DropDown>
    </StackLayout>


    <!-- car insurance -->
    <StackLayout visibility = "{{jobCategory == 5?'visible':'collapsed'}}">
        <Label text="VEHICLE TYPE" textWrap="true"></Label>
        <DropDown #dd [items]="vehicleTypeItems" [(ngModel)]="jobVehicleType" 
        class="dropdown" row="-1" colSpan="2" hint="Select One"></DropDown>

        <Label text="VEHICLE VALUE" textWrap="true"></Label>
        <TextField hint="VEHICLE VALUE" [(ngModel)]="jobVehicleValue"></TextField>
        
        <Label text="ENGINE SIZE" textWrap="true"></Label>
        <DropDown #dd [items]="engineSizeItems" [(ngModel)]="jobEngineSize" 
        class="dropdown" row="-1" colSpan="2" hint="Select One"></DropDown>

        <Label text="DRIVER EXPERIENCE" textWrap="true"></Label>
        <DropDown #dd [items]="driverExperienceItems" [(ngModel)]="jobDriverExperience" 
        class="dropdown" row="-1" colSpan="2" hint="Select One"></DropDown>

        <Label text="ACCIDENTS IN THE LAST 5 YEARS" textWrap="true"></Label>
        <TextField hint="ACCIDENTS IN THE LAST 5 YEARS" [(ngModel)]="jobAccident"></TextField>

        <Label text="NO CLAIMS DISCOUNT" textWrap="true"></Label>
        <DropDown #dd [items]="noClaimsDiscountItems" [(ngModel)]="jobnoClaimsDiscount" 
        class="dropdown" row="-1" colSpan="2" hint="Select One"></DropDown>

        <Label text="DRIVER AGE" textWrap="true"></Label>
        <DropDown #dd [items]="driverAgeItems" [(ngModel)]="jobDriverAge" 
        class="dropdown" row="-1" colSpan="2" hint="Select One"></DropDown>

        <Label text="CURRENT INSURER" textWrap="true"></Label>
        <DropDown #dd [items]="currentInsurerItems" [(ngModel)]="jobCurrentInsurer" 
        class="dropdown" row="-1" colSpan="2" hint="Select One"></DropDown>
    </StackLayout>

    <Label text="FIRST NAME *" textWrap="true"></Label>
    <TextField hint="FIRST NAME" [(ngModel)]="jobFirstName" editable="false"></TextField>

    <Label text="LAST NAME *" textWrap="true"></Label>
    <TextField hint="LAST NAME" [(ngModel)]="jobLastName" editable="false"></TextField>

    <Label text="EMAIL ADDRESS *" textWrap="true"></Label>
    <TextField hint="EMAIL ADDRESS" [(ngModel)]="jobEmailAddress" editable="false"></TextField>



    <Button text="Post Job" class="submit-button" (tap)="btnPostJob()" [isEnabled]="!isLoading"></Button>
    
  </StackLayout>
</ScrollView>
</AbsoluteLayout>
