<AbsoluteLayout height="100%" width="100%">
    <StackLayout class="loginPanel" left="0" top="0" height="100%" width="100%">
          <Image class="logo" src="~/images/logo.png" 
          width="200" height="110" horizontalAlignment="center"></Image>
          <TextField hint="Username" keyboardType="email" [(ngModel)]="username"
            autocapitalizationType="none" class="loginInpTxt"></TextField>
          <TextField hint="Password" [secure]="isSecure" [(ngModel)]="password" class="loginInpTxt"></TextField>
          <!-- <CheckBox text="Show" checked="false" ></CheckBox> -->
          <Button text="Sign in" class="submit-button" (tap)="btnSignIn()" [isEnabled]="!isLoading"></Button>
          <Button text="Go Back" class="submit-button" (tap)="btnGoBack()" [isEnabled]="!isLoading"></Button>
          <!-- <Button text="Sign up" class="submit-button" (tap)="btnSignUp()" [isEnabled]="!isLoading"></Button> -->
      </StackLayout> 
      <ActivityIndicator left="100%" top="100%"
      row="1" #activityIndicator [busy]="isLoading"  width="50%" height="50%" 
      class="activity-indicator"></ActivityIndicator>
      <StackLayout class="loginPanel" visibility="{{isWelcomeMessage?'visible' : 'collapsed'}}" left="0" top="0" height="100%" width="100%">
          <GridLayout style="height:100%;background-color: white;">
              <StackLayout>
                <Label horizontalAlignment='center' verticalAlignment='center'
                    text="Welcome" textWrap="true" class="loginInpTxt">
                </Label>
                <Label horizontalAlignment='center' verticalAlignment='center'
                    [text]="loginMessage" textWrap="true" class="loginInpTxt">
                </Label>
              </StackLayout>
          </GridLayout>
      </StackLayout>
</AbsoluteLayout>
