Page{
    background-image: url('~/images/bgImg.jpg');
}
.loginPanel {   
    /* margin-left: 30;
    margin-right: 30;
    margin-top:10%; */
    background-image: url('~/images/bgImg.jpg');
}
Button, TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
}
.loginInpTxt{
    font-size: 24;
    margin: 10 10 10 10;
    padding: 10;
    font-weight: bold;
    
}
